body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1393_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:879px;
  height:541px;
  background-image:none;
}
#u1393_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:510px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:878px;
  height:510px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:31px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:5px;
  width:111px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:20px;
  height:20px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:7px;
  width:44px;
  height:18px;
  color:#000000;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:7px;
  width:44px;
  height:18px;
  color:#000000;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:7px;
  width:44px;
  height:18px;
  color:#000000;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:6px;
  width:91px;
  height:20px;
}
#u1402_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u1402_input:disabled {
  color:grayText;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:881px;
  height:5px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:878px;
  height:2px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:6px;
  width:91px;
  height:20px;
}
#u1405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:6px;
  width:15px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:4px;
  width:80px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:6px;
  width:91px;
  height:20px;
}
#u1408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u1408_input:disabled {
  color:grayText;
}
