body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:413px;
}
#u3278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:813px;
  height:413px;
}
#u3278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
}
#u3279 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:41px;
  width:274px;
  height:35px;
}
#u3279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:31px;
}
#u3281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u3282 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:5px;
  width:93px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#123554;
}
#u3282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u3283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u3283 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:21px;
  height:20px;
}
#u3283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3284_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:907px;
  height:5px;
}
#u3284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:904px;
  height:2px;
}
#u3284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
